<a href="https://colab.research.google.com/github/anlewis105/Data_analytics/blob/main/Copy_of_Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
stateslist=['NY','IN', 'PA','TX','ME']
print(stateslist)

['NY', 'IN', 'PA', 'TX', 'ME']

## 2.	Print out those variables by using a for loop

In [ ]:
stateslist=['NY','IN', 'PA','TX','ME']
for states in stateslist:
  print(states)

NY
IN
PA
TX
ME

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
stateslist=['NY','IN', 'PA','TX','ME']
for states in stateslist:
  print('I want to visit' + " "+ states+ " " + 'one day')

I want to visit NY one day
I want to visit IN one day
I want to visit PA one day
I want to visit TX one day
I want to visit ME one day

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
for num in range(0,21,2):
  print(num)

0
2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:
stateslist=['NY','IN', 'PA','TX','ME']
stateslist.sort()
print(stateslist)

['IN', 'ME', 'NY', 'PA', 'TX']

## 6.	Print out the first three elements of your list.

In [ ]:
stateslist=['NY','IN', 'PA','TX','ME']
print(stateslist[0:3])

['NY', 'IN', 'PA']

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
stateslist=['NY','IN', 'PA','TX','ME']
print(stateslist[3:5])

['TX', 'ME']