<a href="https://colab.research.google.com/github/anlewis105/Data_analytics/blob/main/Python_Classwork_Jan_7_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lists**

*   collection of items in a specific order
*   letters, digits, names, anything
* must be contained within brackets --> []
* to access elements within the list, write the name of the list followed by the indec in square brackets.
* index positions start at 0, not 1
* to find the access an element in a list via index starting from the backend use [-n]

Class example

In [ ]:
CUNYcampusList=['baruch', 'queens', 'hunter', 'city']
print(CUNYcampusList)

['baruch', 'queens', 'hunter', 'city']

**Try It Yourself (1)**

In [ ]:
friends= ['Ashley','Sally','John']
print(friends)
print(friends[0])
print(friends[1])
print(friends[2])
print(friends[-1])
print(friends[-2])
print(friends[-3])

['Ashley', 'Sally', 'John']
Ashley
Sally
John
John
Sally
Ashley

In [ ]:
friends= ['Ashley','Sally','John']
message="Long time no see, "
print(message + friends[0])
print(message+friends[1])
print(message+friends[2])

Long time no see, Ashley
Long time no see, Sally
Long time no see, John

**Modifying Lists**


*   appending more elements--> variable.append('new info')
*   inserting more elements--> variable.insert(index num,'new info')
* removing elements--> del variable[index num]
*or variable.remove('element')

class example

In [ ]:
friends= ['Ashley','Sally','John']
friends[1]= 'David'
print(friends)
friendsnew=['chloe','matthew']
friends.append('chloe')
print(friends)

['Ashley', 'David', 'John']
['Ashley', 'David', 'John', 'chloe']

In [ ]:
friends= ['Ashley','Sally','John']
del friends[2]
print(friends)

['Ashley', 'Sally']

In [ ]:
friends= ['Ashley','Sally','John']
print(friends)
friends.remove("Ashley")
print(friends)

['Ashley', 'Sally', 'John']
['Sally', 'John']

**Try It Yourself (2)**

In [ ]:
fruits=['apples','oranges', 'pears']
print(fruits)

['apples', 'oranges', 'pears']

In [ ]:
fruits.append('papayas')
print(fruits)

['apples', 'oranges', 'pears', 'papayas']

In [ ]:
del fruits[0]
print(fruits)

['oranges', 'pears', 'papayas']

In [ ]:
fruits.remove('oranges')
print(fruits)

['pears', 'papayas']

In [ ]:
fruits=['apples','oranges', 'pears']
fruits.insert(0,'banana')
print(fruits)

['banana', 'apples', 'oranges', 'pears']

**Sorting a list**


*   variable.sort()
*   reverse sort--> variable.sort(reverse=True)
*length of the list--> len(variable)
*temporarily sort list--> print(sorted(variable))

Class example

In [ ]:
CUNYcampusList
print(CUNYcampusList)
CUNYcampusList.sort()
print(CUNYcampusList)

['Baruch', 'Queens', 'Hunter', 'City']
['Baruch', 'City', 'Hunter', 'Queens']

In [ ]:
print(CUNYcampusList)
CUNYcampusList.sort(reverse=True)
print(CUNYcampusList)

['Baruch', 'City', 'Hunter', 'Queens']
['Queens', 'Hunter', 'City', 'Baruch']

In [ ]:
len(CUNYcampusList)

4

** Try It Yourself (3)**

In [ ]:
travel_list=['California', 'Chile', 'Mexico', 'Argentina', 'Maine']
print(travel_list)

['California', 'Chile', 'Mexico', 'Argentina', 'Maine']

In [ ]:
travel_list.sort()
print(travel_list)

['Argentina', 'California', 'Chile', 'Maine', 'Mexico']

In [ ]:
travel_list.sort(reverse=True)
print(travel_list)

['Mexico', 'Maine', 'Chile', 'California', 'Argentina']

In [ ]:
len(travel_list)

5

In [ ]:
print(sorted(travel_list))
print(travel_list)

['Argentina', 'California', 'Chile', 'Maine', 'Mexico']
['Mexico', 'Maine', 'Chile', 'California', 'Argentina']

# **Looping**

*   perform the same task over and over
*   "for loop" :
*can be used to loop through and print letters in a string
* Structure:
              for variable in 'string': 
                print(variable)
* can also list through items
* Structure:
      for variable in listname:
        print(variable)
*Adding onto a previous loop
* Structure:
      for variable in listname:
        print(variable + "string")

**Try It Yourself (3)**
* Create your own for loop, using all of the techniques

In [ ]:
for x in 'foods':
  print(x)

f
o
o
d
s

In [ ]:
foods=['pizza', 'pasta', 'chocolate', 'cake','cheese']
for x in foods:
  print(x)

pizza
pasta
chocolate
cake
cheese

In [ ]:
foods=['pizza', 'pasta', 'chocolate', 'cake','cheese']
for x in foods:
  print(x + ' ' +  'is one of my favorite foods, ')
print(',but I enjoy chocolate the most! ')

pizza is one of my favorite foods,
pasta is one of my favorite foods,
chocolate is one of my favorite foods,
cake is one of my favorite foods,
cheese is one of my favorite foods,
,but I enjoy chocolate the most!

**Loops with numbers**
 
* Range function allows you to quickly print out a series of numbers
*structure:
      for variable in range (num1,num2):
        print(variable)
* Range can also be used to make a list without the use of brackets
*structure:
      variable= list(range(num1,num2))
      print(variable)
        *no indent on second line 
*use range to list factors of a set of numbers
*structure:
      variable= list(range(num1,num2,factor))
      print(variable)
        *for example, adding a factor of 2 , will print only the even numbers present in a range of numbers

**Statistics with python**

*   structure:
        variable= list(range(num1,num2,factor(optional))
        print(variable)
        min(variable)--> smallest num in list
        max(variable)--> largest num in list
        sum(variable)--> sum of all num in list

**Try It Yourself (4)**


*   use a for loop to print numbers 1-10
*   use the range function to make a list of odd numbers from 1-20. use a for loop to print out each number
* use a for loop to print even numbers from 1-20

In [ ]:
for num in range(1,11):
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in range(1,21,num+1):
  print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for num in range(0,21,2):
  print(num)

0
2
4
6
8
10
12
14
16
18
20

# Slicing


*   slicing through a list to print out only a range of the elements invluded in the list
*structure 
      print(variable[num1:num2])
*  Looping through the slice
*structure:
      print('string')
      for variable in listname[:num]:
      print(variable)